In [1]:
import pm4py
import datetime as dt

[https://pm4py.fit.fraunhofer.de/static/assets/api/2.7.4/getting_started.html#pre-built-event-log-filters](https://pm4py.fit.fraunhofer.de/static/assets/api/2.7.4/getting_started.html#pre-built-event-log-filters)

In [2]:
log = pm4py.read_xes('../data/running-example.xes')
log

/Users/bedong/Workspaces/GitHub/pm4py-test/venv/lib/python3.10/site-packages/pm4py/util/dt_parsing/parser.py:76: UserWarning: ISO8601 strings are not fully supported with strpfromiso for Python versions below 3.11
  warnings.warn(

parsing log, completed traces ::   0%|          | 0/6 [00:00<?, ?it/s]

/Users/bedong/Workspaces/GitHub/pm4py-test/venv/lib/python3.10/site-packages/pm4py/objects/log/util/dataframe_utils.py:176: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[col] = pd.to_datetime(df[col], utc=True)
/Users/bedong/Workspaces/GitHub/pm4py-test/venv/lib/python3.10/site-packages/pm4py/objects/log/util/dataframe_utils.py:176: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[col] = pd.to_datetime(df[col], utc=True)
/Users/bedong/Workspaces/GitHub/pm4py-test/venv/lib/python3.10/site-packages/pm4py/objects/log/util/dataframe_utils.py:176: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[col] = pd.to_datetime(df[col], utc=True)

,concept:name,time:timestamp,cost:total,org:resource,@@index,case:concept:name
0,register request,2010-12-30 10:02:00+00:00,50,Pete,14,1
1,examine thoroughly,2010-12-31 09:06:00+00:00,400,Sue,15,1
2,check ticket,2011-01-05 14:12:00+00:00,100,Mike,16,1
3,decide,2011-01-06 10:18:00+00:00,200,Sara,17,1
4,reject request,2011-01-07 13:24:00+00:00,200,Pete,18,1
5,register request,2010-12-30 10:32:00+00:00,50,Mike,9,2
6,check ticket,2010-12-30 11:12:00+00:00,100,Mike,10,2
7,examine casually,2010-12-30 13:16:00+00:00,400,Sean,11,2
8,decide,2011-01-05 10:22:00+00:00,200,Sara,12,2
9,pay compensation,2011-01-08 11:05:00+00:00,200,Ellen,13,2
10,register request,2010-12-30 13:32:00+00:00,50,Pete,0,3
11,examine casually,2010-12-30 14:06:00+00:00,400,Mike,1,3
12,check ticket,2010-12-30 15:34:00+00:00,100,Ellen,2,3
13,decide,2011-01-06 08:18:00+00:00,200,Sara,3,3
14,reinitiate request,2011-01-06 11:18:00+00:00,200,Sara,4,3
15,examine thoroughly,2011-01-06 12:06:00+00:00,400,Sean,5,3
16,check ticket,2011-01-08 10:43:00+00:00,100,Pete,6,3
17,decide,2011-01-09 08:55:00+00:00,200,Sara,7,3
18,pay compensation,2011-01-15 09:45:00+00:00,200,Ellen,8,3
19,register request,2011-01-06 14:02:00+00:00,50,Pete,37,4
20,check ticket,2011-01-07 11:06:00+00:00,100,Mike,38,4
21,examine thoroughly,2011-01-08 13:43:00+00:00,400,Sean,39,4
22,decide,2011-01-09 11:02:00+00:00,200,Sara,40,4
23,reject request,2011-01-12 14:44:00+00:00,200,Ellen,41,4
24,register request,2011-01-06 08:02:00+00:00,50,Ellen,24,5
25,examine casually,2011-01-07 09:16:00+00:00,400,Mike,25,5
26,check ticket,2011-01-08 10:22:00+00:00,100,Pete,26,5
27,decide,2011-01-10 12:28:00+00:00,200,Sara,27,5
28,reinitiate request,2011-01-11 15:18:00+00:00,200,Sara,28,5
29,check ticket,2011-01-14 13:33:00+00:00,100,Ellen,29,5
30,examine casually,2011-01-16 14:50:00+00:00,400,Mike,30,5
31,decide,2011-01-19 10:18:00+00:00,200,Sara,31,5
32,reinitiate request,2011-01-20 11:48:00+00:00,200,Sara,32,5
33,examine casually,2011-01-21 08:06:00+00:00,400,Sue,33,5
34,check ticket,2011-01-21 10:34:00+00:00,100,Pete,34,5
35,decide,2011-01-23 12:12:00+00:00,200,Sara,35,5
36,reject request,2011-01-24 13:56:00+00:00,200,Mike,36,5
37,register request,2011-01-06 14:02:00+00:00,50,Mike,19,6
38,examine casually,2011-01-06 15:06:00+00:00,400,Ellen,20,6
39,check ticket,2011-01-07 15:22:00+00:00,100,Mike,21,6
40,decide,2011-01-07 15:52:00+00:00,200,Sara,22,6
41,pay compensation,2011-01-16 10:47:00+00:00,200,Mike,23,6

In [4]:
# get the logs of which start activities should contain "register request"
filtered = pm4py.filter_start_activities(log, {'register request'})
filtered

,concept:name,time:timestamp,cost:total,org:resource,@@index,case:concept:name
0,register request,2010-12-30 10:02:00+00:00,50,Pete,14,1
1,examine thoroughly,2010-12-31 09:06:00+00:00,400,Sue,15,1
2,check ticket,2011-01-05 14:12:00+00:00,100,Mike,16,1
3,decide,2011-01-06 10:18:00+00:00,200,Sara,17,1
4,reject request,2011-01-07 13:24:00+00:00,200,Pete,18,1
5,register request,2010-12-30 10:32:00+00:00,50,Mike,9,2
6,check ticket,2010-12-30 11:12:00+00:00,100,Mike,10,2
7,examine casually,2010-12-30 13:16:00+00:00,400,Sean,11,2
8,decide,2011-01-05 10:22:00+00:00,200,Sara,12,2
9,pay compensation,2011-01-08 11:05:00+00:00,200,Ellen,13,2
10,register request,2010-12-30 13:32:00+00:00,50,Pete,0,3
11,examine casually,2010-12-30 14:06:00+00:00,400,Mike,1,3
12,check ticket,2010-12-30 15:34:00+00:00,100,Ellen,2,3
13,decide,2011-01-06 08:18:00+00:00,200,Sara,3,3
14,reinitiate request,2011-01-06 11:18:00+00:00,200,Sara,4,3
15,examine thoroughly,2011-01-06 12:06:00+00:00,400,Sean,5,3
16,check ticket,2011-01-08 10:43:00+00:00,100,Pete,6,3
17,decide,2011-01-09 08:55:00+00:00,200,Sara,7,3
18,pay compensation,2011-01-15 09:45:00+00:00,200,Ellen,8,3
19,register request,2011-01-06 14:02:00+00:00,50,Pete,37,4
20,check ticket,2011-01-07 11:06:00+00:00,100,Mike,38,4
21,examine thoroughly,2011-01-08 13:43:00+00:00,400,Sean,39,4
22,decide,2011-01-09 11:02:00+00:00,200,Sara,40,4
23,reject request,2011-01-12 14:44:00+00:00,200,Ellen,41,4
24,register request,2011-01-06 08:02:00+00:00,50,Ellen,24,5
25,examine casually,2011-01-07 09:16:00+00:00,400,Mike,25,5
26,check ticket,2011-01-08 10:22:00+00:00,100,Pete,26,5
27,decide,2011-01-10 12:28:00+00:00,200,Sara,27,5
28,reinitiate request,2011-01-11 15:18:00+00:00,200,Sara,28,5
29,check ticket,2011-01-14 13:33:00+00:00,100,Ellen,29,5
30,examine casually,2011-01-16 14:50:00+00:00,400,Mike,30,5
31,decide,2011-01-19 10:18:00+00:00,200,Sara,31,5
32,reinitiate request,2011-01-20 11:48:00+00:00,200,Sara,32,5
33,examine casually,2011-01-21 08:06:00+00:00,400,Sue,33,5
34,check ticket,2011-01-21 10:34:00+00:00,100,Pete,34,5
35,decide,2011-01-23 12:12:00+00:00,200,Sara,35,5
36,reject request,2011-01-24 13:56:00+00:00,200,Mike,36,5
37,register request,2011-01-06 14:02:00+00:00,50,Mike,19,6
38,examine casually,2011-01-06 15:06:00+00:00,400,Ellen,20,6
39,check ticket,2011-01-07 15:22:00+00:00,100,Mike,21,6
40,decide,2011-01-07 15:52:00+00:00,200,Sara,22,6
41,pay compensation,2011-01-16 10:47:00+00:00,200,Mike,23,6

In [6]:
filtered = pm4py.filter_start_activities(log, {'register request TYPO!'})
filtered

Empty DataFrame
Columns: [concept:name, time:timestamp, cost:total, org:resource, @@index, case:concept:name]
Index: []

In [7]:
filtered = pm4py.filter_end_activities(log, {'pay compensation'})
filtered

,concept:name,time:timestamp,cost:total,org:resource,@@index,case:concept:name
5,register request,2010-12-30 10:32:00+00:00,50,Mike,9,2
6,check ticket,2010-12-30 11:12:00+00:00,100,Mike,10,2
7,examine casually,2010-12-30 13:16:00+00:00,400,Sean,11,2
8,decide,2011-01-05 10:22:00+00:00,200,Sara,12,2
9,pay compensation,2011-01-08 11:05:00+00:00,200,Ellen,13,2
10,register request,2010-12-30 13:32:00+00:00,50,Pete,0,3
11,examine casually,2010-12-30 14:06:00+00:00,400,Mike,1,3
12,check ticket,2010-12-30 15:34:00+00:00,100,Ellen,2,3
13,decide,2011-01-06 08:18:00+00:00,200,Sara,3,3
14,reinitiate request,2011-01-06 11:18:00+00:00,200,Sara,4,3
15,examine thoroughly,2011-01-06 12:06:00+00:00,400,Sean,5,3
16,check ticket,2011-01-08 10:43:00+00:00,100,Pete,6,3
17,decide,2011-01-09 08:55:00+00:00,200,Sara,7,3
18,pay compensation,2011-01-15 09:45:00+00:00,200,Ellen,8,3
37,register request,2011-01-06 14:02:00+00:00,50,Mike,19,6
38,examine casually,2011-01-06 15:06:00+00:00,400,Ellen,20,6
39,check ticket,2011-01-07 15:22:00+00:00,100,Mike,21,6
40,decide,2011-01-07 15:52:00+00:00,200,Sara,22,6
41,pay compensation,2011-01-16 10:47:00+00:00,200,Mike,23,6

In [6]:
filtered = pm4py.filter_event_attribute_values(log, 'org:resource', {'Pete', 'Mike'})  # level is 'case' by default
filtered

,concept:name,time:timestamp,cost:total,org:resource,@@index,case:concept:name
0,register request,2010-12-30 10:02:00+00:00,50,Pete,14,1
1,examine thoroughly,2010-12-31 09:06:00+00:00,400,Sue,15,1
2,check ticket,2011-01-05 14:12:00+00:00,100,Mike,16,1
3,decide,2011-01-06 10:18:00+00:00,200,Sara,17,1
4,reject request,2011-01-07 13:24:00+00:00,200,Pete,18,1
5,register request,2010-12-30 10:32:00+00:00,50,Mike,9,2
6,check ticket,2010-12-30 11:12:00+00:00,100,Mike,10,2
7,examine casually,2010-12-30 13:16:00+00:00,400,Sean,11,2
8,decide,2011-01-05 10:22:00+00:00,200,Sara,12,2
9,pay compensation,2011-01-08 11:05:00+00:00,200,Ellen,13,2
10,register request,2010-12-30 13:32:00+00:00,50,Pete,0,3
11,examine casually,2010-12-30 14:06:00+00:00,400,Mike,1,3
12,check ticket,2010-12-30 15:34:00+00:00,100,Ellen,2,3
13,decide,2011-01-06 08:18:00+00:00,200,Sara,3,3
14,reinitiate request,2011-01-06 11:18:00+00:00,200,Sara,4,3
15,examine thoroughly,2011-01-06 12:06:00+00:00,400,Sean,5,3
16,check ticket,2011-01-08 10:43:00+00:00,100,Pete,6,3
17,decide,2011-01-09 08:55:00+00:00,200,Sara,7,3
18,pay compensation,2011-01-15 09:45:00+00:00,200,Ellen,8,3
19,register request,2011-01-06 14:02:00+00:00,50,Pete,37,4
20,check ticket,2011-01-07 11:06:00+00:00,100,Mike,38,4
21,examine thoroughly,2011-01-08 13:43:00+00:00,400,Sean,39,4
22,decide,2011-01-09 11:02:00+00:00,200,Sara,40,4
23,reject request,2011-01-12 14:44:00+00:00,200,Ellen,41,4
24,register request,2011-01-06 08:02:00+00:00,50,Ellen,24,5
25,examine casually,2011-01-07 09:16:00+00:00,400,Mike,25,5
26,check ticket,2011-01-08 10:22:00+00:00,100,Pete,26,5
27,decide,2011-01-10 12:28:00+00:00,200,Sara,27,5
28,reinitiate request,2011-01-11 15:18:00+00:00,200,Sara,28,5
29,check ticket,2011-01-14 13:33:00+00:00,100,Ellen,29,5
30,examine casually,2011-01-16 14:50:00+00:00,400,Mike,30,5
31,decide,2011-01-19 10:18:00+00:00,200,Sara,31,5
32,reinitiate request,2011-01-20 11:48:00+00:00,200,Sara,32,5
33,examine casually,2011-01-21 08:06:00+00:00,400,Sue,33,5
34,check ticket,2011-01-21 10:34:00+00:00,100,Pete,34,5
35,decide,2011-01-23 12:12:00+00:00,200,Sara,35,5
36,reject request,2011-01-24 13:56:00+00:00,200,Mike,36,5
37,register request,2011-01-06 14:02:00+00:00,50,Mike,19,6
38,examine casually,2011-01-06 15:06:00+00:00,400,Ellen,20,6
39,check ticket,2011-01-07 15:22:00+00:00,100,Mike,21,6
40,decide,2011-01-07 15:52:00+00:00,200,Sara,22,6
41,pay compensation,2011-01-16 10:47:00+00:00,200,Mike,23,6

In [9]:
filtered = pm4py.filter_event_attribute_values(log, 'org:resource', {'Pete', 'Mike'}, level='event')
filtered

,concept:name,time:timestamp,cost:total,org:resource,@@index,case:concept:name
0,register request,2010-12-30 10:02:00+00:00,50,Pete,14,1
2,check ticket,2011-01-05 14:12:00+00:00,100,Mike,16,1
4,reject request,2011-01-07 13:24:00+00:00,200,Pete,18,1
5,register request,2010-12-30 10:32:00+00:00,50,Mike,9,2
6,check ticket,2010-12-30 11:12:00+00:00,100,Mike,10,2
10,register request,2010-12-30 13:32:00+00:00,50,Pete,0,3
11,examine casually,2010-12-30 14:06:00+00:00,400,Mike,1,3
16,check ticket,2011-01-08 10:43:00+00:00,100,Pete,6,3
19,register request,2011-01-06 14:02:00+00:00,50,Pete,37,4
20,check ticket,2011-01-07 11:06:00+00:00,100,Mike,38,4
25,examine casually,2011-01-07 09:16:00+00:00,400,Mike,25,5
26,check ticket,2011-01-08 10:22:00+00:00,100,Pete,26,5
30,examine casually,2011-01-16 14:50:00+00:00,400,Mike,30,5
34,check ticket,2011-01-21 10:34:00+00:00,100,Pete,34,5
36,reject request,2011-01-24 13:56:00+00:00,200,Mike,36,5
37,register request,2011-01-06 14:02:00+00:00,50,Mike,19,6
39,check ticket,2011-01-07 15:22:00+00:00,100,Mike,21,6
41,pay compensation,2011-01-16 10:47:00+00:00,200,Mike,23,6

In [11]:
filtered = pm4py.filter_trace_attribute_values(log, 'case:concept:name', {'2'})
filtered

,concept:name,time:timestamp,cost:total,org:resource,@@index,case:concept:name
5,register request,2010-12-30 10:32:00+00:00,50,Mike,9,2
6,check ticket,2010-12-30 11:12:00+00:00,100,Mike,10,2
7,examine casually,2010-12-30 13:16:00+00:00,400,Sean,11,2
8,decide,2011-01-05 10:22:00+00:00,200,Sara,12,2
9,pay compensation,2011-01-08 11:05:00+00:00,200,Ellen,13,2

In [13]:
# If we set retain to False, we remove all traces that contain any of the specified activities.
filtered = pm4py.filter_trace_attribute_values(log, 'case:concept:name', {'2'}, retain=False)
filtered

,concept:name,time:timestamp,cost:total,org:resource,@@index,case:concept:name
0,register request,2010-12-30 10:02:00+00:00,50,Pete,14,1
1,examine thoroughly,2010-12-31 09:06:00+00:00,400,Sue,15,1
2,check ticket,2011-01-05 14:12:00+00:00,100,Mike,16,1
3,decide,2011-01-06 10:18:00+00:00,200,Sara,17,1
4,reject request,2011-01-07 13:24:00+00:00,200,Pete,18,1
10,register request,2010-12-30 13:32:00+00:00,50,Pete,0,3
11,examine casually,2010-12-30 14:06:00+00:00,400,Mike,1,3
12,check ticket,2010-12-30 15:34:00+00:00,100,Ellen,2,3
13,decide,2011-01-06 08:18:00+00:00,200,Sara,3,3
14,reinitiate request,2011-01-06 11:18:00+00:00,200,Sara,4,3
15,examine thoroughly,2011-01-06 12:06:00+00:00,400,Sean,5,3
16,check ticket,2011-01-08 10:43:00+00:00,100,Pete,6,3
17,decide,2011-01-09 08:55:00+00:00,200,Sara,7,3
18,pay compensation,2011-01-15 09:45:00+00:00,200,Ellen,8,3
19,register request,2011-01-06 14:02:00+00:00,50,Pete,37,4
20,check ticket,2011-01-07 11:06:00+00:00,100,Mike,38,4
21,examine thoroughly,2011-01-08 13:43:00+00:00,400,Sean,39,4
22,decide,2011-01-09 11:02:00+00:00,200,Sara,40,4
23,reject request,2011-01-12 14:44:00+00:00,200,Ellen,41,4
24,register request,2011-01-06 08:02:00+00:00,50,Ellen,24,5
25,examine casually,2011-01-07 09:16:00+00:00,400,Mike,25,5
26,check ticket,2011-01-08 10:22:00+00:00,100,Pete,26,5
27,decide,2011-01-10 12:28:00+00:00,200,Sara,27,5
28,reinitiate request,2011-01-11 15:18:00+00:00,200,Sara,28,5
29,check ticket,2011-01-14 13:33:00+00:00,100,Ellen,29,5
30,examine casually,2011-01-16 14:50:00+00:00,400,Mike,30,5
31,decide,2011-01-19 10:18:00+00:00,200,Sara,31,5
32,reinitiate request,2011-01-20 11:48:00+00:00,200,Sara,32,5
33,examine casually,2011-01-21 08:06:00+00:00,400,Sue,33,5
34,check ticket,2011-01-21 10:34:00+00:00,100,Pete,34,5
35,decide,2011-01-23 12:12:00+00:00,200,Sara,35,5
36,reject request,2011-01-24 13:56:00+00:00,200,Mike,36,5
37,register request,2011-01-06 14:02:00+00:00,50,Mike,19,6
38,examine casually,2011-01-06 15:06:00+00:00,400,Ellen,20,6
39,check ticket,2011-01-07 15:22:00+00:00,100,Mike,21,6
40,decide,2011-01-07 15:52:00+00:00,200,Sara,22,6
41,pay compensation,2011-01-16 10:47:00+00:00,200,Mike,23,6

In [19]:
filtered = pm4py.filter_variants(log, [
    ['register request', 'check ticket', 'examine casually', 'decide', 'pay compensation']])
filtered

Empty DataFrame
Columns: [concept:name, time:timestamp, cost:total, org:resource, @@index, case:concept:name]
Index: []

In [20]:
filtered = pm4py.filter_variants(log,
                                 [['register request', 'check ticket', 'examine casually', 'decide', 'reject request']])
filtered

Empty DataFrame
Columns: [concept:name, time:timestamp, cost:total, org:resource, @@index, case:concept:name]
Index: []

In [21]:
filtered = pm4py.filter_directly_follows_relation(log, [('check ticket', 'examine casually')])
filtered

,concept:name,time:timestamp,cost:total,org:resource,@@index,case:concept:name
5,register request,2010-12-30 10:32:00+00:00,50,Mike,9,2
6,check ticket,2010-12-30 11:12:00+00:00,100,Mike,10,2
7,examine casually,2010-12-30 13:16:00+00:00,400,Sean,11,2
8,decide,2011-01-05 10:22:00+00:00,200,Sara,12,2
9,pay compensation,2011-01-08 11:05:00+00:00,200,Ellen,13,2
24,register request,2011-01-06 08:02:00+00:00,50,Ellen,24,5
25,examine casually,2011-01-07 09:16:00+00:00,400,Mike,25,5
26,check ticket,2011-01-08 10:22:00+00:00,100,Pete,26,5
27,decide,2011-01-10 12:28:00+00:00,200,Sara,27,5
28,reinitiate request,2011-01-11 15:18:00+00:00,200,Sara,28,5
29,check ticket,2011-01-14 13:33:00+00:00,100,Ellen,29,5
30,examine casually,2011-01-16 14:50:00+00:00,400,Mike,30,5
31,decide,2011-01-19 10:18:00+00:00,200,Sara,31,5
32,reinitiate request,2011-01-20 11:48:00+00:00,200,Sara,32,5
33,examine casually,2011-01-21 08:06:00+00:00,400,Sue,33,5
34,check ticket,2011-01-21 10:34:00+00:00,100,Pete,34,5
35,decide,2011-01-23 12:12:00+00:00,200,Sara,35,5
36,reject request,2011-01-24 13:56:00+00:00,200,Mike,36,5

In [22]:
filtered = pm4py.filter_eventually_follows_relation(log, [('examine casually', 'reject request')])
filtered

,concept:name,time:timestamp,cost:total,org:resource,@@index,case:concept:name
24,register request,2011-01-06 08:02:00+00:00,50,Ellen,24,5
25,examine casually,2011-01-07 09:16:00+00:00,400,Mike,25,5
26,check ticket,2011-01-08 10:22:00+00:00,100,Pete,26,5
27,decide,2011-01-10 12:28:00+00:00,200,Sara,27,5
28,reinitiate request,2011-01-11 15:18:00+00:00,200,Sara,28,5
29,check ticket,2011-01-14 13:33:00+00:00,100,Ellen,29,5
30,examine casually,2011-01-16 14:50:00+00:00,400,Mike,30,5
31,decide,2011-01-19 10:18:00+00:00,200,Sara,31,5
32,reinitiate request,2011-01-20 11:48:00+00:00,200,Sara,32,5
33,examine casually,2011-01-21 08:06:00+00:00,400,Sue,33,5
34,check ticket,2011-01-21 10:34:00+00:00,100,Pete,34,5
35,decide,2011-01-23 12:12:00+00:00,200,Sara,35,5
36,reject request,2011-01-24 13:56:00+00:00,200,Mike,36,5

In [20]:
filtered = pm4py.filter_time_range(log, dt.datetime(2010, 12, 30), dt.datetime(2010, 12, 31), mode='events')
filtered

,concept:name,time:timestamp,cost:total,org:resource,@@index,case:concept:name
0,register request,2010-12-30 10:02:00+00:00,50,Pete,14,1
5,register request,2010-12-30 10:32:00+00:00,50,Mike,9,2
6,check ticket,2010-12-30 11:12:00+00:00,100,Mike,10,2
7,examine casually,2010-12-30 13:16:00+00:00,400,Sean,11,2
10,register request,2010-12-30 13:32:00+00:00,50,Pete,0,3
11,examine casually,2010-12-30 14:06:00+00:00,400,Mike,1,3
12,check ticket,2010-12-30 15:34:00+00:00,100,Ellen,2,3

In [21]:
filtered = pm4py.filter_time_range(log, dt.datetime(2010, 12, 30), dt.datetime(2010, 12, 31),
                                   mode='traces_contained')
filtered

Empty DataFrame
Columns: [concept:name, time:timestamp, cost:total, org:resource, @@index, case:concept:name]
Index: []

In [22]:
filtered = pm4py.filter_time_range(log, dt.datetime(2010, 12, 30), dt.datetime(2010, 12, 31),
                                   mode='traces_intersecting')
filtered

,concept:name,time:timestamp,cost:total,org:resource,@@index,case:concept:name
0,register request,2010-12-30 10:02:00+00:00,50,Pete,14,1
1,examine thoroughly,2010-12-31 09:06:00+00:00,400,Sue,15,1
2,check ticket,2011-01-05 14:12:00+00:00,100,Mike,16,1
3,decide,2011-01-06 10:18:00+00:00,200,Sara,17,1
4,reject request,2011-01-07 13:24:00+00:00,200,Pete,18,1
5,register request,2010-12-30 10:32:00+00:00,50,Mike,9,2
6,check ticket,2010-12-30 11:12:00+00:00,100,Mike,10,2
7,examine casually,2010-12-30 13:16:00+00:00,400,Sean,11,2
8,decide,2011-01-05 10:22:00+00:00,200,Sara,12,2
9,pay compensation,2011-01-08 11:05:00+00:00,200,Ellen,13,2
10,register request,2010-12-30 13:32:00+00:00,50,Pete,0,3
11,examine casually,2010-12-30 14:06:00+00:00,400,Mike,1,3
12,check ticket,2010-12-30 15:34:00+00:00,100,Ellen,2,3
13,decide,2011-01-06 08:18:00+00:00,200,Sara,3,3
14,reinitiate request,2011-01-06 11:18:00+00:00,200,Sara,4,3
15,examine thoroughly,2011-01-06 12:06:00+00:00,400,Sean,5,3
16,check ticket,2011-01-08 10:43:00+00:00,100,Pete,6,3
17,decide,2011-01-09 08:55:00+00:00,200,Sara,7,3
18,pay compensation,2011-01-15 09:45:00+00:00,200,Ellen,8,3